<div class="m-3 home">
  <div class="row p-4"></div>
  <div class="row">
    <div class="welcome-text-container col-lg-8 offset-lg-2">
      <div class="welcome-text-title col-xl-12 text-center py-2">
        <h3><strong>Welcome to Family Bakery Caffe!</strong></h3>
      </div>
      <div class="welcome-text-title col-xl-12">
        <h4 class="my-3">
          Please, register and login to see the menu of our Family Bakery cafee.
        </h4>
        <p>
          Our family-run dining events serve seasonal, locally sourced food. We
          have decided not to re-open the Café when restrictions allow. Take
          away and Catering only.
        </p>
        <p class="text-center">Wishing you all the best!</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row my-1">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 my-1 products">
        <div class="card">
          <div class="d-flex align-items-center mx-auto my-2 img-product-box">
            <img
              class="card-img-top img-product"
              src="./../../assets/chokladball.jpg"
              height="180"
              width="330"
              alt="Product image"
            />
          </div>

          <div class="card-header">
            <div class="card-title">
              <div class="product-title" style="text-align: center">
                Bread, Pastry, Cakes
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 my-1 products">
        <div class="card">
          <div class="d-flex align-items-center mx-auto my-2 img-product-box">
            <img
              class="card-img-top img-product"
              src="./../../assets/soup.jpg"
              alt="Product image"
            />
          </div>

          <div class="card-header">
            <div class="card-title">
              <div class="product-title" style="text-align: center">
                Breakfast and Lunch Menu
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 my-1 products">
        <div class="card">
          <div class="d-flex align-items-center mx-auto my-2 img-product-box">
            <img
              class="card-img-top img-product"
              src="./../../assets/juce.jpg"
              alt="Product image"
            />
          </div>

          <div class="card-header">
            <div class="card-title">
              <div class="product-title" style="text-align: center">
                Coffee, Tea, Juce
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
