<div class="m-3 home">
  <div class="row p-4"></div>
  <div class="row">
    <div class="welcome-text-container col-lg-8 offset-lg-2">
      <div class="welcome-text-title col-xl-12 text-center py-2">
        <h3><strong>Welcome to Family Bakery Caffe!</strong></h3>
      </div>
      <div class="welcome-text-title col-xl-12">
        <h4 class="my-3">
          Please, register and login to see the menu of our Family Bakery cafee.
        </h4>
        <p>
          Our family-run dining events serve seasonal, locally sourced food. We
          have decided not to re-open the Café when restrictions allow. Take
          away and Catering only.
        </p>
        <p class="text-center">Wishing you all the best!</p>
      </div>
    </div>
  </div>
</div>
